.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 25px;
  font-family: Century;
}
::-webkit-input-placeholder {
  text-transform: none;
}
.input {
  outline: none;
  padding: .5em 1em;
  border: 1px solid #222;
  text-transform: uppercase;
}
.button {
  padding: 5px 10px;
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 5em;
  font-family: Consolas;
}
q {
  display: block;
  font-style: italic;
}
q::after {
  content: '" (' attr(author) ')';
}
p {
  padding: 1em;
}
/*
pages
*/
#nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
#nav ul {
  list-style: none;
  position: relative;
}
#nav li {
  display: inline-block;
  text-align: right;
}
#nav a {
  text-decoration: none;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}
.header {
  z-index: -1;
}
.pages {
  min-height: 100vh;
  padding: 5vh 10vw;
}
.pages h2 {
  color: white;
}
.pages p {
  font-size: .7em;
}
/*
Cesar chiper
*/
#caesar {
  background-color: #136bf7;
}
#caesar_abc,
#caesar_ci {
  counter-reset: enum -1;
  text-align: center;
  cursor: default;
  font-size: 2.3vw;
  font-family: monospace;
}
#caesar_abc span {
  position: relative;
}
#caesar_abc span::before {
  counter-increment: enum;
  content: counter(enum);
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  left: 0;
  background: white;
  z-index: 1;
}
#caesar_abc span:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 200%;
}
#caesar_abc span:hover::before {
  opacity: 0;
}
#caesar_abc span,
#caesar_ci span {
  display: inline-block;
  position: relative;
  padding: .2em .3em;
  width: 3.6%;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#caesar_abc span:nth-child(1),
#caesar_ci span:nth-child(1) {
  border-left: none;
}
#caesar-range {
  vertical-align: middle;
  position: relative;
}
#range-value {
  width: 2em;
}
#wrap-graph {
  position: relative;
  height: 325px;
  margin: 1em auto;
}
#wrap-graph ul {
  list-style: none;
  position: absolute;
  text-align: center;
  display: flex;
  bottom: 0;
  width: 100%;
}
#wrap-graph ul li {
  display: inline-block;
  text-align: center;
  position: relative;
  width: 4%;
  font-size: 1em;
}
#wrap-graph li span {
  color: white;
}
#wrap-graph li span.index {
  font-size: 1em;
  display: block;
  z-index: 1;
  position: relative;
  top: 100%;
  height: 100%;
}
#wrap-graph li span:nth-child(2),
#wrap-graph li span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 5%;
  right: 5%;
  width: 90%;
}
#wrap-graph li span:nth-child(1) {
  background: #2f3da1;
}
#wrap-graph li span:nth-child(2) {
  background-color: rgba(20, 170, 255, 0.5);
}
#wrap-graph li span:nth-child(3) {
  background-color: rgba(47, 61, 161, 0.6);
  font-size: .5em;
}
/*
Affine
*/
#affine {
  background-color: #1bd65d;
}
#affine-formula {
  text-transform: lowercase;
}
/*
Vigenere
*/
#vigenere {
  background-color: #fc8405;
}
#abc-table {
  border: 1px solid #131313;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
  border-collapse: collapse;
  font-family: monospace;
  font-size: .5em;
}
#abc-table tr,
#abc-table td {
  position: relative;
}
#abc-table tr:hover {
  background: #fc8405;
}
#abc-table tr:nth-child(1) {
  border-bottom: 3px solid #131313;
}
#abc-table td:nth-child(1) {
  border-right: 3px solid #131313;
}
#abc-table td {
  text-align: center;
}
#abc-table td:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5700%;
  top: -2800%;
  left: 0;
  background-color: #fc8405;
  z-index: -1;
}
#img-cipher {
  background: #f320b0;
}
#canvas-img {
  border: 1px solid #eee;
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
