// out: sty.css, sourcemap: true, compress: false
//vars
@abc-tborder: #131313;
@abc-thover: @vigenere-color;

@caesar-color: #136bf7;
@affine-color: #1bd65d;
@vigenere-color: #fc8405;
@img-cipher-color: #f320b0;
@caesar-bg: 'https://i.ytimg.com/vi/mwFHskeAHtE/maxresdefault.jpg';
@affine-bg: 'https://i.kinja-img.com/gawker-media/image/upload/b3goggv5rb4zsefwyj6w.jpg';


.prefix(@property, @value) {
    -webkit-@{property}: @value;
     -khtml-@{property}: @value;
       -moz-@{property}: @value;
            @{property}: @value;
}

.transition {
  .prefix(transition, all .4s ease-in-out);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
}
body {
  font-size: 25px;
  font-family: Century;
}
::-webkit-input-placeholder {
  text-transform: none;
}
.input {
  outline: none;
  padding: .5em 1em;
  border: 1px solid #222;
  text-transform: uppercase;
}
.button {
  padding: 5px 10px;
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 5em;
  font-family: Consolas;
}
.input:focus {
}
q {
  display: block;
  font-style: italic;
}
q::after {
  content: '" (' attr(author) ')';
}
p {
  padding: 1em;
}
/*
pages
*/
#nav {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
}
#nav ul {
  list-style: none;
  position: relative;
}
#nav li {
  display: inline-block;
  text-align: right;
}
#nav a {
  text-decoration: none;
  color:white;
  background: rgba(0,0,0,.8);
}
.header {
  z-index: -1;
}
.pages {
  min-height: 100vh;
  padding: 5vh 10vw;
  h2 {
    color: white;
  }
  p {
    font-size: .7em;
  }
}
#caesar-page {
}
#affine-page {
}
#vigenere-page {

}

#colorc-page {
}
/*
Cesar chiper
*/
#caesar-page {
}
#caesar {
  background-color: @caesar-color;
}

#caesar_abc,
#caesar_ci {
  counter-reset: enum -1;
  text-align: center;
  cursor: default;
  font-size: 2.3vw;
  font-family: monospace;
}
#caesar_abc span{
  position: relative;
  &::before {
    counter-increment: enum;
    content: counter(enum);
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    background: white;
    z-index: 1;
  }
  &:hover::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.3);
    width: 100%;
    height: 200%;
  }
  &:hover::before {
    opacity: 0;
  }
}
#caesar_abc span,
#caesar_ci span{
  display: inline-block;
  position: relative;
  padding: .2em .3em;
  width: 3.6%;
  border-left: 1px solid black;
  border-top: 1px solid black;
}
#caesar_abc span:nth-child(1),
#caesar_ci span:nth-child(1) {
  border-left: none;
}

#caesar-range {
  vertical-align: middle;
  position: relative;
}
#range-value {
  width: 2em;
}

@length: 650px;
@bar-static-color: rgba(20, 170, 290, .5);
@bar-dynamic-color: rgba(47, 61, 161, 0.6);
#wrap-graph {
  position: relative;
  height: @length/2;
  margin: 1em auto;
  ul {
    list-style: none;
    position: absolute;
    text-align: center;
    display: flex;
    bottom: 0;
    width: 100%;
    li {
      display: inline-block;
      text-align: center;
      position: relative;
      width: 4%;
      font-size: 1em;
    }
  }
}

#wrap-graph li span {
  color: white;
  &.index {
    font-size: 1em;
    display: block;
    z-index: 1;
    position: relative;
    top: 100%;
    height: 100%;
  }
  &:nth-child(2),
  &:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 5%;
    right: 5%;
    width: 90%;
  }
  &:nth-child(1) {
    background: rgba(47, 61, 161, 1);
  }
  &:nth-child(2) {
    background-color: @bar-static-color;
  }
  &:nth-child(3) {
    background-color: @bar-dynamic-color;
    font-size: .5em;
  }
}
/*
Affine
*/
#affine-page {
}
#affine {
  background-color: @affine-color;
}
#affine-formula {
  text-transform: lowercase;
}
/*
Vigenere
*/
#vigenere-page {
}
#vigenere {
  background-color: @vigenere-color;
}
#abc-table {
  border: 1px solid @abc-tborder;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
  border-collapse: collapse;
  font-family: monospace;
  font-size: .5em;
}
#abc-table tbody {

}
#abc-table tr,
#abc-table td {
  position: relative;
}
#abc-table tr {

}
#abc-table tr:hover {
  background: @abc-thover;
}
#abc-table tr:nth-child(1) {
  border-bottom: 3px solid @abc-tborder;
}
#abc-table td:nth-child(1) {
  border-right: 3px solid @abc-tborder;
}
#abc-table td {
    text-align: center;
}
#abc-table td:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5700%;
  top: -2800%;
  left: 0;
  background-color: @abc-thover;
  z-index: -1;
}
#abc-table td span {
}

#colorc-page {

}
#canvas-input {

}
#img-cipher {
  background: @img-cipher-color;
}
#canvas-img {
  border: 1px solid #eee;
  width: 500px;
  height: 500px;
  display: block;
  margin: 0 auto;
}
