.transition {
  -webkit-transition: all 0.4s ease-in-out;
  -khtml-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 2vw;
  font-family: Century;
}
::-webkit-input-placeholder {
  text-transform: none;
}
.input {
  outline: none;
  padding: .5em 1em;
  border: 1px solid #222;
  text-transform: uppercase;
}
textarea {
  resize: vertical;
  width: 100%;
  min-height: 5em;
  font-family: Consolas;
}
q {
  display: block;
  font-style: italic;
}
q::after {
  content: '" (' attr(author) ')';
}
/*
pages
*/
.pages {
  min-height: 100vh;
  padding: 0 1em;
}
.pages h2 {
  color: #fff;
}
/*
Cesar chiper
*/
#caesar {
  background-color: #136bf7;
}
#caesar_abc,
#caesar_ci {
  text-align: center;
}
#caesar_abc span,
#caesar_ci span {
  display: inline-block;
  position: relative;
  padding: .5em;
}
#caesar_abc span:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #333;
  width: 100%;
  height: 200%;
  z-index: 1;
}
#caesar-range {
  vertical-align: middle;
}
#range-value {
  width: 2em;
}
/*
Affine
*/
#affine {
  background-color: #1bd65d;
}
#affine-formula {
  text-transform: lowercase;
}
/*
Vigenere
*/
#vigenere {
  background-color: #fc8405;
}
#abc-table {
  border: 1px solid #131313;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  cursor: default;
  border-collapse: collapse;
}
#abc-table tr,
#abc-table td {
  position: relative;
}
#abc-table tr:hover {
  background: rgba(200, 20, 200, 0.7);
}
#abc-table tr:nth-child(1) {
  border-bottom: 3px solid #131313;
}
#abc-table td:nth-child(1) {
  border-right: 3px solid #131313;
}
#abc-table td {
  text-align: center;
}
#abc-table td:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5700%;
  top: -2800%;
  left: 0;
  background-color: rgba(200, 20, 200, 0.7);
  z-index: -1;
}
